body {
    background-image: url("https://amandavalverde.github.io/des157/final/proto/images/background.JPG");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 50px;
    color: white;
    font-family: 'Shippori Mincho B1', serif;
}

h1 {
    font-size: 4em;
    font-weight: 800;
    padding-bottom: 0;
    margin-bottom: 0;
}

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    z-index: 5;
}

.overlay article {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 20px;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    z-index: 5;
    border-radius: 20px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: showing;
    opacity: 1;
}

.corner {
    font-size: 36px;
    margin: 0;
    padding: 0;
    border:none;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
}

.close {
    transition-duration: 0.4s;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 8px;
    border: 0;
  }
  
  .close:hover {
    background-color: slategray;
    color: white;
  }

#one {
    position: absolute;
    top: 75px;
    left: 85px;
    width: 500px;
    transform: rotate(0deg);
    z-index: 1;
    transition: transform .5s;
}

#two {
    position: absolute;
    top: 50px;
    left: 300px;
    width: 300px;
    transform: rotate(10deg);
    z-index: 2;
    transition: transform .5s;
}

#three {
    position: absolute;
    top: 100px;
    left: 350px;
    width: 400px;
    transform: rotate(-7deg);
    z-index: 1;
    transition: transform .5s;
}

#three {
    position: absolute;
    top: 300px;
    left: 1000px;
    width: 400px;
    transform: rotate(-7deg);
    z-index: 1;
    transition: transform .5s;
}

#one:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    z-index: 4;
}

#two:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

#three:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    z-index: 4;
}

#four:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    z-index: 4;
}

a {
    font-family: 'Shippori Mincho B1', serif;
    font-weight: 400;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover, a:visited:hover {
    color: slategrey;
}

footer {
    width: 300px;
    margin: auto;
    padding-bottom: 25px;
    position: absolute;
    top: 600px;
}

footer > a {
    display: block;
}

small {
    display: flex;
    justify-content: space-between;
}