body {
    max-width: 1200px;
    min-width: 800px;
    background-color: rgb(81, 84, 116);
    color: white;
    margin: auto;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
   }

header {
    text-align: center;
    padding-top: 50px;
}

main {
    font-size: 12pt;
}

.content {
    margin: 0 auto;
    width: 600px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4em;
    line-height: 15px;
    color: white;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #ffe5d9;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #ffe5d9;
}

article > a {
    font-size: 16pt;
    font-weight: 500;
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover, a:visited:hover {
    color: slategrey;
}

ul, li {
    list-style-type: none;
    justify-content: left;
    align-content: left;
    line-height: 25px;
    margin: 0;
    padding: 0;
}

p {
  line-height: 20px;
}

footer {
    width: 300px;
    margin: auto;
    padding-bottom: 25px;
}

footer > a {
    display: block;
}

small {
    display: flex;
    justify-content: space-between;
}