body {
    /* background-image: url("https://live.staticflickr.com/127/406815094_bcf768af74_h.jpg"); */
    background-color: rgb(154, 213, 221);
    color: #ffe5d9;
    padding: 100px;
   }

header {
    text-align: center;
}

.banner {

}

main {
    /* text-align: center; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    justify-content: center;
    gap: 30px;
}

.column1 {
    padding: 25px;
}

.column2 {
    padding: 25px;
}

.column3 {
    padding: 25px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4em;
    line-height: 15px;
    color: white;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    color: slategrey;
}

a:visited {
    text-decoration: none;
    color: white;
}

ul, li {
    list-style-type: none;
    justify-content: left;
    align-content: left;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
}

@media (max-width: 800px) {
    body {
        padding: 0;
        margin: auto;
    }
    
    .row {
        align-content: center;
        flex-direction: column;
        padding-bottom: 50px;
    }

    h1 {
        font-size: 2em;
        line-height: normal;
    }

    ul, li {
        list-style-type: none;
        justify-content: center;
        align-content: center;
    }
  }
  
  