body {
    max-width: 1200px;
    min-width: 800px;
    background-color: rgb(143, 148, 202);
    color: #ffe5d9;
    margin: auto;
   }

header {
    text-align: center;
}

#banner {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    overflow: hidden;
    padding-top: 75px;
}

#banner > p {
    position: absolute;
    top: 0;
    /* left: 120%; */
    width: 800px;
    padding-top: 25px;
    font-size: 10pt;
    color: white;
    opacity: 0.7;
    animation-duration: 7s;
    animation-name: slidein;
    animation-iteration-count: 1;
  }

  @keyframes slidein {
    from {
      left: 120%;
      width: 300%;
    }
  
    to {
      left: calc(50%-425px);
      width: 100%;
    }
  }

#banner > p:hover {
        animation: fadeOut ease 3s;
        -webkit-animation: fadeOut ease 3s;
        -moz-animation: fadeOut ease 3s;
        -o-animation: fadeOut ease 3s;
        -ms-animation: fadeOut ease 3s;
      }

      @keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }
      
      @-moz-keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }
      
      @-webkit-keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }
      
      @-o-keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }
      
      @-ms-keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
      }
}

main {
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column1 {
    padding: 25px;
}

.column2 {
    padding: 25px;
}

.column3 {
    padding: 25px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4em;
    line-height: 15px;
    color: white;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    color: slategrey;
}

a:visited {
    text-decoration: none;
    color: white;
}

ul, li {
    list-style-type: none;
    justify-content: left;
    align-content: left;
    margin: 0;
    padding: 0;
}

footer {
    width: 300px;
    margin: auto;
}

footer > a {
    display: block;
}

small {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .row {
        align-content: center;
        flex-direction: column;
        padding-bottom: 50px;
    }

    h1 {
        line-height: normal;
    }
  }