header {
    align-self: center;
}

main {
    align-self: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}