body {
    /* background-image: url("https://live.staticflickr.com/127/406815094_bcf768af74_h.jpg"); */
    background-color: rgb(154, 213, 221);
    color: #ffe5d9;
    padding: 100px;
    max-width: 1200px;
    min-width: 800px;
    align-self: center;
   }

header {
    text-align: center;
}

.banner {
    max-height: 250px;
    max-width: 800px;
}

main {
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    justify-content: center;
    border-style: solid;
    border-color: white;
    border-width: thin;
    gap: 30px 0px;
}

.column1 .column2 .column3 {
    padding: 25px;
    border-style: solid;
    border-color: white;
    border-width: thin;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4em;
    line-height: 15px;
    color: white;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    color: slategrey;
}

a:visited {
    text-decoration: none;
    color: white;
}

ul, li {
    list-style-type: none;
    justify-content: left;
    align-content: left;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    padding: 25px;
}

@media (max-width: 800px) {
    body {
        padding: 0;
        margin: auto;
    }
    
    .row {
        align-content: center;
        flex-direction: column;
        border: none;
        padding-bottom: 50px;
    }

    .column1 {
        padding: 0px;
    }
    
    .column2 {
        padding: 0px;
    }
    
    .column3 {
        padding: 0px;
    }

    h1 {
        font-size: 2em;
        line-height: normal;
    }

    ul, li {
        list-style-type: none;
        justify-content: center;
        align-content: center;
    }


  }
  
  