header {
    text-align: center;
}

main {
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

a:link {
    text-decoration: none;
    text-align: center;
}

ul {
    list-style-type: none;
}